@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    padding: 5px 20px;
}

.navegacao {
    margin-right: 10px;
}

#navegacao {
    display: flex;
    list-style: none;
    padding: 0;
}

#banner {
    text-align: center;
}

.post {
    height: 40vh;
    width: 35vw;
    align-content: center;
    color: black;
    border: white;
    border-radius: 2px;
}

.post:hover {
    background-color: #6A5ACD90;
    text-decoration: none;
}


#post1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Hippolytus_Sir_Lawrence_Alma_Tadema.jpg/220px-Hippolytus_Sir_Lawrence_Alma_Tadema.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sobre {
    max-width: 25vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#esp{
    font: bold;
}

footer {
    text-align: center;
    background-color: #afafaf;
    padding-bottom: 5px;
}